.editor-container{

display:flex;
height:100vh;
gap:30px;
padding:30px;

}


.editor-sidebar{

width:350px;
overflow:auto;

}


.editor-sidebar input,
.editor-sidebar textarea{

width:100%;
padding:12px;
margin-bottom:15px;
border-radius:8px;
border:1px solid #ddd;

}



.device-buttons{

display:flex;
gap:10px;
margin-bottom:20px;

}


.device-buttons button{

padding:10px;
border:none;
cursor:pointer;

}


.device-buttons .active{

background:#111827;
color:white;

}



.preview-area{

flex:1;
display:flex;
justify-content:center;
align-items:center;

}



.preview{

transition:.3s;
padding:40px;
text-align:center;
border-radius:25px;

}



/* TABLET */

.preview.tablet{

width:768px;
height:1024px;

}



/* DESKTOP */

.preview.desktop{

width:1200px;
height:800px;

}



/* MOBILE */

.preview.mobile{

width:390px;
height:844px;

}



.preview button{

padding:14px 30px;
border:none;
border-radius:10px;
color:white;
cursor:pointer;

}